services:
  db:
    image: mysql:8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: exemplo
    ports:
      - "3306:3306"
    volumes:
      - ./database:/var/lib/mysql
